name: egyptian_craftsmen
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  easy_localization: ^3.0.8
  dio: ^5.9.1
  dartz: ^0.10.1
  internet_connection_checker: ^3.0.1
  pretty_dio_logger: ^1.4.0
  get_it: ^9.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
